* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
    overflow-x: hidden;
}

.col, .col-1, .col-10,
.col-11, .col-12, .col-2,
.col-3, .col-4, .col-5,
.col-6, .col-7, .col-8,
.col-9, .col-auto, .col-lg,
.col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9,
.col-lg-auto, .col-md,
.col-md-1, .col-md-10,
.col-md-11, .col-md-12,
.col-md-2, .col-md-3,
.col-md-4, .col-md-5,
.col-md-6, .col-md-7,
.col-md-8, .col-md-9,
.col-md-auto, .col-sm,
.col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9,
.col-sm-auto, .col-xl,
.col-xl-1, .col-xl-10,
.col-xl-11, .col-xl-12,
.col-xl-2, .col-xl-3,
.col-xl-4, .col-xl-5,
.col-xl-6, .col-xl-7,
.col-xl-8, .col-xl-9,
.col-xl-auto{
	padding-right: 10px;
    padding-left: 10px;
}

.attention{
	height: 10vh;
	text-align: center;
	border-bottom: solid 0.1em #000;
}

.attention p{
	color: red;
	line-height: 10vh;
}

a{
	text-decoration: underline;
}

li{
	list-style: none;
}

header{
	text-align: center;
	padding-top: 2vh;
}

.header-a a{
	font-size: 0.75em;
	padding: 0;
	color: #000;
}

.header-a<div{
	text-align: center;
}

.header-a a:hover{
	text-decoration: none;
}

.header-a:nth-of-type(3){
	padding: 0;
}

.header-a:nth-of-type(2):before,
.header-a:nth-of-type(5):before{
	content: "|";
	color: gainsboro;
}

.header-a:nth-of-type(3):before,
.header-a:nth-of-type(6):before{
	content: "|";
	color: gainsboro;
}

.header-form{
	padding-top: 2vh;
}

.header-form-input{
	width: 18vw;
	height: 4vh;
}

.text{
	border: none;
	line-height: 3vh;
}

.text:focus{
  	outline: none;
}

.submit{
	margin-top: 1vh;
	margin-left: 3vw;
}

.submit:focus{
	outline: none;
}

.letter{
	padding-top: 1vh;
}

.letter>div{
	height: 5vh;
	padding: 0.5vh 5px;
}

.letter>div>p{
	font-size: 0.75em;
}

.letter>div>a{
	font-size: 0.7em;
	color: gray;
	text-decoration: none;
}

.letter>div>a:hover{
	text-decoration: underline;
}

.menu-tab{
	display: none;
}

.global-nav{
	background-color: #000055;
	height: 6vh;
	margin-top: 3vh;
	text-align: center;
}

.nav-left{
	margin-right: 5vw;
}

.global-nav a{
	color: white;
	line-height: 6vh;
	text-decoration: none;
	font-size: 1.2em;
}

.global-nav>ul{
	margin-bottom: 0;
}

.global-nav>ul>li:hover{
	background-color: red;
	height: 6vh;
}

.global-nav>ul>li>a>p{
	margin-bottom: 0;
}

.global-nav>ul>p{
	color: white;
	line-height: 6vh;
	margin-bottom: 0;
}

.global-nav>ul>li span{
	display: none;
}

.tab1,.tab2,.tab3{
	display: none;
	z-index: 99999999;
	background-color: white;
	margin-top: 0;
	padding-top: 2vh;
}

.tab>dl>dt{
	font-size: 1.6em;
	margin-bottom: 1vh;
}

.tab>dl{
	border-right: solid 1px gainsboro;
	margin-right: 1vh;
	margin-bottom: 0.5vh;
}

.tab>dl:first-of-type{
	border-left: solid 1px white;
}

.tab>dl:last-of-type{
	border-right: solid 1px white;
}

.dt-icon{
	padding: 0 1vw;
}

.tab-bottom{
	background-color: lightsteelblue;
	text-align: left;
	height: 3em;
}

.tab-bottom>a{
	color: #0044CC;
	text-decoration: underline;
	font-size: 1em;
	line-height: 3em;
}

.tab-bottom>a:before{
	background-image: url(../img/sprites-se8687b0ed3.png);
	width: 18px;
	height: 18px;
	background-position: 0 -34px;
	content: "";
	display: inline-block;
	line-height: 3em;
}

.dt-icon:before{
	content: "";
	background-repeat: no-repeat;
	background-image: url(../img/sprites-se8687b0ed3.png);
	margin-right: 1vw;
	width: 38px;
	height: 38px;
}

.go:before{
	background-position: 0 -307px;
}

.find-out:before{
	background-position: 0 -231px;
}

.inquire:before{
	background-position: 0 -763px;
}

.base-info:before{
	background-position: 0 -438px;
}

.initiative:before{
	background-position: 0 -476px;
}

.doctor:before{
	background-position: 0 -345px;
}

.pencil:before{
	background-position: 0 -613px;
}


.tab-dd{
	margin-left: 0vw;
}

.tab-dd>ul>li{
	height: 4vh;
	font-size: 0.9em;
}

.tab-dd>ul>li:before{
	line-height: 4vh;
	content: "";
	display: inline-block;
	background-image: url(../img/sprites-se8687b0ed3.png);
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	background-position: 0 -34px;
}

.tab-dd>ul>li>a{
	color: #0044CC;
	text-decoration: underline;
	line-height: 4vh;
}

.tab-dd>ul>li{
	text-align: left;
}

.bg{
	height: 70vh;
	margin-top: 0vh;
	z-index: -10;
	background-position: left;
	background-size: no-repeat;
}

.main{
	width: 100%;
	margin:0 auto;
	padding: 0;
}

.main-container{
	width: 100vw;
	height: 60vh;
	z-index: -10;
	margin-left: 15vw;
}

.top-imgs{
	z-index: -10;
}

.top-img{
	z-index: -10;
}

.bg1{
	background-image: url(../img/jp-mv_01_pc_20161011.png);
}

.bg2{
	background-image: url(../img/jp-mv_02_pc_20161011.png);
}

.bg3{
	background-image: url(../img/jp-mv_03_pc_20161011.png);
}

.bg4{
	background-image: url(../img/jp-mv_04_pc_20161011.png);
}

.bg5{
	background-image: url(../img/jp-mv_05_pc_20161011.png);
}

.bg6{
	background-image: url(../img/jp-mv_06_pc_20161011.png);
}

.bg7{
	background-image: url(../img/jp-mv_07_pc_20161011.png);
}

.COVID-info{
	background-color: #e8e8e8;
	padding: 0 13vw;
	text-align: center;
	height: 5vh;
}

.COVID-info>dl>dt{
	background-color: lightpink;
	text-align: right;
	line-height: 5vh;
	height: 5vh;
	padding-bottom: 1vh;
	position: relative;
}

.COVID-info>dl>dt:before{
	content: "";
	background-repeat: no-repeat;
	background-image: url(../img/sprites-se8687b0ed3.png);
	margin-top: 1vh;
	width: 29px;
	height: 29px;
	background-position: 0 -130px;
	display: inline-block;
	position: absolute;
	top: -0.1vh;
	left: 1.5vw;
}

.COVID-info>dl>dd{
	padding: 0;
	width: 50vw;
}

.COVID-info>dl>dd>p{
	display: inline-block;
	width: 8vw;
	padding: 0;
	line-height: 5vh;
	margin-left: -8vw;
}

.COVID-info>dl>dd>a{
	display: inline-block;
	line-height: 5vh;
	margin-left: -3vw;
}

.purpose{
	text-align: center;
	width: 80vw;
	margin-left: 12vw;
}

.purpose>ul{
	margin-bottom: 0;
	height: 20vh;
}

.purpose>ul>li{
	width: 10vw;
	padding:2vh 2vw;
}

.purpose>ul>li:hover{
	opacity: 0.5;
}

.purpose>ul>li>a{
	text-decoration: none;
}

.purpose>ul>li>a>span{
	color: black;
}

.info-content-res-1,
.info-content-res-2,
.info-content-res-3{
	display: none;
}

.map{
	background-color: #e8e8e8;
	padding: 0 13vw;
	text-align: center;
	height: 8vh;
	border-top: solid 1px darkgray;
	border-bottom: solid 1px darkgray;
}

.map>ul>li{
	line-height: 6vh;
	position: relative;
}

.map>ul>li:first-of-type{
	border-right: solid 1px darkgray;
}

.map>ul>li:first-of-type:before{
	content: "";
	display: inline-block;
	background-image: url(../img/sprites-se8687b0ed3.png);
	background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    background-position: 0 -565px;
    position: relative;
    top: 1.5vh;
    left: -2vh;

}

.map>ul>li:nth-of-type(2):before{
	content: "";
	display: inline-block;
	background-image: url(../img/sprites-se8687b0ed3.png);
	background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    background-position: 0 -801px;
    position: relative;
    top: 1.5vh;
    left: -2vh;
}

.map>ul>li:last-of-type{
	border-left: solid 1px darkgray;
}

.map>ul>li:last-of-type:before{
	content: "";
	display: inline-block;
	background-image: url(../img/sprites-se8687b0ed3.png);
	background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    background-position: 0 -715px;
    position: relative;
    top: 1.5vh;
    left: -2vh;
}

.map>ul>li:hover{
	opacity: 0.5;
}

.map>ul>li>a{
	text-decoration: none;
	color: black;
}

.infomation{
	background-color: #f0ede5;
	height: auto;
	max-height: 400vh;
	text-align: center;
	padding: 0;
}

.infomation>.row{
	width: 100vw;
	padding: 5vh 10vw 0 10vw;
	margin-bottom: 0;
}

.infomation>.row:nth-child(2){
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.infomation>.row:nth-child(3){
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.infomation>.row:nth-child(4){
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.infomation>ul>li{
	height: 6.5vh;
	line-height: 6.5vh;
}


.infomation>ul>li:nth-of-type(2){
	border-left: solid 1.5px black;
	border-right: solid 1.5px black;
}

.infomation>dl{
	background-color: white;
	width: 100vw;
}

.infomation>dl>dd{
	width: 80vw;
}

.info-content2,.info-content3{
	display: none;
}

.click{
	background-color: white;
	border-top: 5px solid black;
}

.info-list{
	margin: 2vh 0;
}

.info-list>div>span:first-of-type{
	text-align: left;
}

.info-list>div>span:nth-of-type(2){
	text-align: center;
	font-size: 0.8em;
	display: inline-block;
	width: 5vw;
	color: white;
}

.infomation a:hover{
	text-decoration: none;
}

.important{
	background-color: tomato;
}

.notice{
	background-color: coral;
}

.event{
	background-color: cornflowerblue;
}

.info-index:before{
	content: '';
	display: inline-block;
	background-image: url(../img/sprites-se8687b0ed3.png);
	background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    background-position: 0 -34px;
    position: relative;
    top: 0.5vh;
    right: 0.5vw;
}

.menus{
	width: 100%;
	padding: 4vh 10vw 0 10vw;
}

.menus a:hover{
	text-decoration: underline;
}

.menu{
	padding: 0 5vw;
}

.menus-res{
	display: none;
}

.menu>li{
	margin-bottom: 2vh;
}

.menu>li>a{
	color: black;
	text-decoration: none;
}

.menu>li>a>span{
	display: block;
	background-color: white;
	height: 5vh;
	line-height: 5vh;
	font-size: 0.9em;
}

.menu>li>a>span:before{
	content: '';
	display: inline-block;
	background-image: url(../img/sprites-se8687b0ed3.png);
	background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    background-position: 0 -34px;
    position: relative;
    top: 0.5vh;
    right: 0.5vw;
}

.menu-img{
	width: 100%;
	height: 15vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.menu-img1{
	background-image: url(../img/img_feature_07.jpg);
}

.menu-img2{
	background-image: url(../img/img_feature_08.jpg);
}

.menu-img3{
	background-image: url(../img/img_feature_09.jpg);
}

.menu-img4{
	background-image: url(../img/img_feature_01.jpg);
}

.menu-img5{
	background-image: url(../img/img_feature_02.jpg);
}

.menu-img6{
	background-image: url(../img/img_feature_03.jpg);
}

.menu-img7{
	background-image: url(../img/img_feature_04.jpg);
}

.menu-img8{
	background-image: url(../img/img_feature_05.jpg);
}

.menu-img9{
	background-image: url(../img/img_feature_06.jpg);
}

.etc{
	height: 70vh;
	padding: 4vh 5vw 0 5vw;
}

.etc a:hover{
	opacity: 0.5;
}

.etc>.row>div:first-of-type{
	background-color: #f7f8f8;
	height: 57vh;
}

.etc-info>.row{
	padding-top: 1vh;
	width: 32vw;
	margin-left: 0.5vw;
}

.etc-info>.row>dt:before{
	content: "";
	display: inline-block;
	background-image: url(../img/sprites-se8687b0ed3.png);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    position: relative;
    top: 1vh;
    right: 0.5vw;
}

.etc-info>.row:nth-of-type(2){
	height: 9vh;
}

.etc-info>.row:nth-of-type(2)>dd{
	line-height: 7vh;
}

.etc-info>.row:nth-of-type(3)>dt{
	line-height: 6vh;
}

.etc-info>.row:nth-of-type(1)>dt:before{
	background-image: url(../img/mark_telephone.png);
	width: 41px;
}

.etc-info>.row:nth-of-type(2)>dt:before{
	background-position: 0 -269px;
}

.etc-info>.row:nth-of-type(3)>dt:before{
	background-position: 0 -269px;
}

.etc-info>.row:nth-of-type(4)>dt:before{
	background-position: 0 -193px;
}

.info-link{
	margin:0 auto;
}

.info-link>a{
	text-decoration: none;
}

.info-link>a>li{
	background-color: #031763;
	color: white;
	margin:0 1vw;
	height: 7vh;
	width: 14vw;
	line-height: 7vh;
	text-align: center;
}

.info-link>a>li:before{
	content: "";
	display: inline-block;
	background-image: url(../img/sprites-se8687b0ed3.png);
    background-repeat: no-repeat;
    height: 17px;
    width: 18px;
    background-position: 0 -51px;
    position: relative;
    top: 0.2vh;
    right: 0.5vw;
}

.location{
	height: 33vh;
}

.location>img{
	height: 30vh;
	width: 33vw;
	position: absolute;
	z-index: -1;
}

.location>div{
	background-color: #383838;
	width: 100px;
	height: 100px;
	text-align: center;
	padding-top: 3vh;
	position: relative;
	z-index: 1;
	top:200vh;
	top: 10vh;
	left: 8vh;
}


.location>div>a{
	text-decoration: none;
	padding-right: -1vw;
}

.location>div>a>span{
	color: white;
	font-size: 0.8em;
	font-weight: 700;
	display: inline-block;
}

.location>div>a>span:first-of-type{
	margin-left: -1vw;
}

.location>div>a>span:first-of-type:before{
	content: '';
	display: inline-block;
	background-image: url(../img/sprites-se8687b0ed3.png);
	background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    background-position: 0 -51px;
    position: relative;
    top: -1.5vh;
    right: -2.5vw;
}

.location>ul>a{
	text-decoration: none;
}

.location>ul>a>li{
	height: 6vh;
	background-color: #ff9f1a;
	width: 12vw;
	line-height: 6vh;
	color: white;
	font-weight: 600;
	position: relative;
	text-align: center;
}

.location>ul>a>li:hover{
	background-color: rgba(255,159,26,0.9);
}

.location>ul>a>li:last-of-type{
	top: -4vh;
	left: 16vw;
	margin-top: 2vh;
}

.location>ul>a>li:before{
	content: '';
	display: inline-block;
	background-image: url(../img/sprites-se8687b0ed3.png);
	background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    background-position: 0 -51px;
    position: relative;
    top: 0.2vh;
    right: 0.5vw;
}

.other-menu{
	background-color: #f0ede5;
	height: 15vh;
	padding-top: 3vh;
	margin-bottom: 3vh;
}

.others{
	background-color: #f7f8f8;
	height: 12vh;
	display: flex;
	padding: 3vh 17vw 0 ;
}

.slider{
	width: 84%;
	margin: 0%;
}

.slick-prev:before,
.slick-next:before {
    content: '';
}

.prev{
	margin-right: 1vw;
}

.next{
	margin-left: 0.5vw;
}

footer{
	background-color: #031763;
	height: 6.2vh;
}

footer>.row{
	padding: 0 1vw;
	height: 6vh;
	display: flex;
}

footer>div>ul>div>a{
	display: inline-block;
	text-decoration: none;
	width: 20vw;
	height: 6vh;
}

footer>div>ul{
	line-height: 6vh;
	height: 6vh;
	margin-bottom: 0;
}

footer>div>ul>div>a>li{
	font-size: 0.7em;
	width: 10vw;
	color: white;
	margin-left: 0.5vw;
}

/*footer>div>ul>a:nth-of-type(2)>li:before,
footer>div>ul>a:nth-of-type(2)>li:after,
footer>div>ul>a:nth-of-type(3)>li:after{
	content: "|";
	color: white;
}
*/

.pp{
	float: left;
	display: flex;
}

footer>.row>p{
	display: inline-block;
	color: white;
	font-size: 0.9em;
	line-height: 6vh;
	margin-bottom: 0;
	height: 6vh;
}

footer>div>ul>div>span{
	color: white;
}

/*footer>div>ul>div>span:nth-of-type(2){
	margin-left: 1vw;
}*/


/*---------------------------------------------------------------------*/


@media screen and (max-width: 800px){

	.col, .col-1, .col-10,
	.col-11, .col-12, .col-2,
	.col-3, .col-4, .col-5,
	.col-6, .col-7, .col-8,
	.col-9, .col-auto, .col-lg,
	.col-lg-1, .col-lg-10,
	.col-lg-11, .col-lg-12,
	.col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5,
	.col-lg-6, .col-lg-7,
	.col-lg-8, .col-lg-9,
	.col-lg-auto, .col-md,
	.col-md-1, .col-md-10,
	.col-md-11, .col-md-12,
	.col-md-2, .col-md-3,
	.col-md-4, .col-md-5,
	.col-md-6, .col-md-7,
	.col-md-8, .col-md-9,
	.col-md-auto, .col-sm,
	.col-sm-1, .col-sm-10,
	.col-sm-11, .col-sm-12,
	.col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5,
	.col-sm-6, .col-sm-7,
	.col-sm-8, .col-sm-9,
	.col-sm-auto, .col-xl,
	.col-xl-1, .col-xl-10,
	.col-xl-11, .col-xl-12,
	.col-xl-2, .col-xl-3,
	.col-xl-4, .col-xl-5,
	.col-xl-6, .col-xl-7,
	.col-xl-8, .col-xl-9,
	.col-xl-auto{
		padding-right: 10px;
	    padding-left: 10px;
	}

	.attention{
		height: 5vh;
		border-bottom: solid 0.4em #000;
	}

	.attention p{
		line-height: 5vh;
		font-size: 0.8em;
	}

	a{
		text-decoration: underline;
	}

	header{
		padding-top: 0.5vh;
		padding-bottom: 0.5em;
		padding-right: 0;
		width: 96vw;
		position: relative;
	}

	header .row{
		width: 99vw;
	}

	.top-img{
		width: 35vw;
		position: relative;
		left: 30vw;
	}

	.menu-tab{
		display: inline;
		margin-left: 45vw;
		width: 6vw;
		height: 2.5vh;
	}

	header .col-sm-12{
		width: 95vw;
	}

	header .col-sm-10{
		padding: 0;
	}

	.header-a{
		display: none;
	}

	.header-form{
		display: none;
	}

	.letter{
		display: none;
	}

	.global-nav{
		height: 6vh;
		margin-top: 0vh;
	}

	.nav-left{
		margin-right: 5vw;
	}

	.global-nav a{
		color: white;
		line-height: 6vh;
		text-decoration: none;
		font-size: 1.2em;
	}

	.global-nav>ul{
		margin-bottom: 0;
		height: 6vh;
	}

	.global-nav>ul>li{
		width: 33%;
		position: relative;
	}

	.nav-p:after{
		content: "";
		display: block;
	    border-bottom: 2px solid #fff;
	    border-right: 2px solid #fff;
	    background-image: none;
	    background-color: transparent;
	    position: relative;
	    width: 8px;
	    height: 8px;
	    left: 108px;
	    top: -29px;
	    margin-top: -4px;
	    transform: rotate(45deg);
	}

	.nav-pp:after{
		content: "";
		transform: rotate(225deg);
	}

	.global-nav>ul>li:nth-of-type(2)>a>p:after{
		top: -15px;
	}

	.global-nav>ul>li span{
		display: inline;
	}

	.global-nav>ul>li:nth-of-type(2){
		border-left: solid 1px white;
		border-right: solid 1px white;
	}

	.global-nav>ul>li:nth-of-type(2) p{
		margin-top: 1.5vh;
		line-height: 1.5vh;
	}

	.global-nav>ul>li>a>p{
		margin-bottom: 0;
		font-size: 0.5em;
		word-break: break-all;
	}

	.global-nav>ul>p{
		color: white;
		line-height: 6vh;
		margin-bottom: 0;
	}

	.global-nav .section{
		display: none;
	}

	.section{
		display: none;
	}

	.tab1,.tab2,.tab3{
		padding-top: 1vh;
		height: 90vh;
		z-index: 100;
	}

	.tab>dl>dt{
		display: none;
	}

	.tab>dl{
		border-right: solid 1px gainsboro;
		margin-right: 0vh;
		margin-bottom: 0.5vh;
	}

	.tab>dl>dd{
		margin-bottom: -1rem;
	}

	.tab-dd>ul{
		width: 100%;
	}

	.tab-dd>ul>li{
		height: 5vh;
		font-size: 0.7em;
		width: 97vw;
		border-top: 2px solid gray;
		line-height: 5vh;
		margin-top: -0.4vh;
		background-color: white;
	}

	.tab-dd>ul>li:after{
		content: "";
	    display: block;
	    position: absolute;
	    border-bottom: 3px solid #999;
	    transform: rotate(-45deg);
	}

	.tab>dl:first-of-type{
		border-left: solid 1px white;
	}

	.tab>dl:last-of-type{
		border-right: solid 1px white;
		margin-top: -1vh;
	}

	.dt-icon{
		padding: 0 1vw;
	}

	.tab-bottom{
		background-color: lightsteelblue;
		text-align: left;
		height: 3em;
	}

	.tab-bottom>a{
		color: #0044CC;
		text-decoration: underline;
		font-size: 1em;
		line-height: 3em;
	}

	.tab-bottom>a:before{
		content: none;
	}

	.dt-icon:before{
		content: "";
		background-repeat: no-repeat;
		background-image: url(../img/sprites-se8687b0ed3.png);
		margin-right: 1vw;
		width: 38px;
		height: 38px;
	}

	.tab-dd{
		margin-left: 0vw;
	}

	.tab-dd>ul>li:before{
		content: none;
	}

	.tab-dd>ul>li>a{
		color: #0044CC;
		text-decoration: underline;
		line-height: 4vh;
	}

	.tab-dd>ul>li{
		text-align: left;
	}

	.bg{
		height: 30vh;
		margin-top: 0vh;
		z-index: -10;
		background-position: left;
		background-size: no-repeat;
	}

	.main{
		width: 100%;
		margin:0 auto;
		padding: 0;
	}

	.main-container{
		width: 100vw;
		height: 20vh;
		padding: 0;
		z-index: -10;
		margin-left: 0vw;
	}

	.top-imgs{
		width: 100%;
		z-index: -10;
		height: 20vh;
		margin: 0;
	}

	.COVID-info{
		background-color: white;
		padding: 0 3vw;
		height: 17vh;
		z-index: -100;
	}

	.COVID-info>dl>dt{
		text-align: center;
		line-height: 4vh;
		height: 4vh;
		font-size: 0.8em;
		position: relative;
		width: 100%;
	}

	.COVID-info>dl>dt:before{
		content: none;
	}

	.COVID-info>dl>dd{
		padding: 0;
		width: 100vw;
	}

	.COVID-info>dl>dd>p{
		text-align: left;
		width: 100vw;
		margin-left: 2vw;
		margin-bottom: 0;
	}

	.COVID-info>dl>dd>a{
		display: inline-block;
		line-height: 5vh;
		margin-left: 0vw;
		font-size: 0.9em;
	}

	.cov{
	}

	.cov-on{
		position: relative;
		z-index: -9;
	}

	.purpose{
		width: 100vw;
		margin: 0;
		height: 45vh;
	}

	.purpose>ul{
		margin-bottom: 0;
		height: 20vh;
		display: flex;
		width: 100vw;
		padding: 0 8vw;
	}

	.purpose>ul>li{
		width: 40vw;
		padding:2vh 2vw;
		border-top: 1px solid silver;
		border-bottom: 1px solid silver;
		margin: 1vh 1vw;
	}

	.purpose>ul>li:hover{
		opacity: 0.5;
	}

	.purpose>ul>li>a{
		text-decoration: none;
	}

	.purpose>ul>li>a>span{
		color: black;
	}

	.map{
		padding: 0 3vw;
		margin: 2vh 3vw;
		text-align: center;
		width: 96vw;
		height: 24vh;
	}

	.map>ul>li{
		text-align: left;
		padding: 0 9vw;
		line-height: 8vh;
		border:solid 1px silver;
		font-size: 1.2em;
		background-color: #e8e8e8;
	}

	.map>ul>li:first-of-type{
		border-right: none;
	}

	.map>ul>li:first-of-type:before{
		content: none;

	}

	.map>ul>li:nth-of-type(2):before{
		content: none;
	}

	.map>ul>li:last-of-type{
		border-left: initial;
	}

	.map>ul>li:last-of-type:before{
		content: none;
	}

	.map>ul>li:hover{
		opacity: 0.5;
	}

	.map>ul>li>a{
		text-decoration: none;
		color: black;
	}

	.infomation{
		background-color: #f0ede5;
		height: auto;
		max-height: 900vh;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.infomation>.row{
		width: 100vw;
		padding: 2vh 3vw 0 3vw;
		margin-bottom: 0;
	}

	.infomation>.row:nth-child(2){
		padding-top: 3vh;
		padding-bottom: 3vh;
	}

	.infomation>.row:nth-child(3){
		padding-top: 3vh;
		padding-bottom: 3vh;
	}

	.infomation>.row:nth-child(4){
		padding-top: 3vh;
		padding-bottom: 3vh;
	}

	.infomation>ul:first-of-type{
		background-color: white;
		width: 104vw;
		padding: 3vh 3vw 0 7vw;
	}

	.infomation>ul>li{
		height: 6.5vh;
		line-height: 6.5vh;
		box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
		margin-bottom: 1vh;
	}


	.infomation>ul>li:nth-of-type(2){
		border-left: none;
		border-right: none;
	}

	.infomation>ul>li:last-of-type{
		margin-bottom: 3vh;
	}

	.infomation>dl{
		background-color: white;
		width: 100vw;
	}

	.infomation>dl>dd{
		width: 80vw;
	}

	.info-content1,.info-content2,.info-content3{
		display: none;
	}

	.click{
		border-top: none;
	}

	.info-list{
		margin: 2vh 0;
	}

	.info-list>div>span:first-of-type{
		text-align: left;
	}

	.info-list>div>span:nth-of-type(2){
		text-align: center;
		font-size: 0.8em;
		display: inline-block;
		width: 20vw;
		color: white;
		margin-right: 32vw;
	}

	.qq-a{
		display: block;
		margin-left: 1vw;
	}

	.info-content-res-1,
	.info-content-res-2,
	.info-content-res-3{
		height: auto;
		width: 100%;
	}

	.infomation a:hover{
		text-decoration: none;
	}

	.important{
		background-color: tomato;
	}

	.notice{
		background-color: coral;
	}

	.event{
		background-color: cornflowerblue;
	}

	.info-index:before{
		content: '';
		display: inline-block;
		background-image: url(../img/sprites-se8687b0ed3.png);
		background-repeat: no-repeat;
	    height: 18px;
	    width: 18px;
	    background-position: 0 -34px;
	    position: relative;
	    top: 0.5vh;
	    right: 0.5vw;
	}

	.back{
		padding-left: 30vw;
	}


	.menus{
		width: 100%;
		padding: 4vh 10vw 0 10vw;
	}

	.menu{
		display: none;
	}

	.menus-res{
		display: flex;
		flex-wrap: wrap;
		height: 65vh;
		padding: 0 1vw;
	}

	.menus-res>li{
		border-top: 0.2em solid #000;
		width: 45vw;
		height: 8vh!important;
		margin:0 2vw;
		padding: 0;
	}

	.menu-img{
		width: 100%;
		height: 8vh;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.menus-res>li>a>span{
		display: block;
		background-color: white;
		height: 3vh;
		line-height: 3vh;
		font-size: 0.6em;
	}


	.etc{
		height: 93vh;
		padding: 4vh 5vw 0 5vw;
	}

	.etc a:hover{
		opacity: 0.5;
	}

	.etc>.row>div:first-of-type{
		background-color: white;
		height: 57vh;
	}

	.etc-info{
		border:1px solid silver;
	}

	.etc-info>.row{
		padding-top: 1vh;
		width: 91vw;
		margin-left: 0.5vw;
		background-color: white;
		margin-bottom: 0.5vh;
	}

	.etc-info>.row>dt:before{
		content: "";
		display: inline-block;
	    background-repeat: no-repeat;
	    height: 19px;
	    width: 20px;
    	background-size: 19px auto;
		position: relative;
		top: 0.5vh;
	}

	.etc-info>.row:nth-of-type(2){
		height: 9vh;
	}

	.etc-info>.row:nth-of-type(2)>dd{
		line-height: 3vh;
	}

	.etc-info>.row:nth-of-type(3)>dt{
		line-height: 3vh;
	}

	.etc-info>.row:nth-of-type(1)>dt:before{
		background-image: url(../img/mark_telephone.png);
		width: 20px;
	}

	.etc-info>.row:nth-of-type(2)>dt:before{
		background-image: url(../img/sprites-s10448ad79d.png);
		background-position: 0 -120px;
    	background-size: 57px auto;
	}

	.etc-info>.row:nth-of-type(3)>dt:before{
		background-image: url(../img/sprites-s10448ad79d.png);
		background-position: 0 -120px;
    	background-size: 57px auto;
	}

	.etc-info>.row:nth-of-type(4)>dt:before{
		background-image: url(../img/sprites-s10448ad79d.png);
		background-position: 0 -100px;
    	background-size: 57px auto;
	}

	.info-link{
		margin:0 auto 1vh auto;
	}

	.info-link>a{
		text-decoration: none;
	}

	.info-link>a>li{
		background-color: #031763;
		color: white;
		margin:1vh 1vw 0 1vw;
		height: 7vh;
		width: 90vw;
		line-height: 7vh;
		text-align: center;
	}

	.info-link>a>li:before{
		content: "";
		display: inline-block;
		background-image: url(../img/sprites-se8687b0ed3.png);
	    background-repeat: no-repeat;
	    height: 17px;
	    width: 18px;
	    background-position: 0 -51px;
	    position: relative;
	    top: 0.2vh;
	    right: 24.5vw;
	}

	.ll:before{
		right: 26vw!important;
	}

	.info-content1-mov,
	.info-content2-mov,
	.info-content3-mov{
		display: none;
	}

	.location{
		height: 33vh;
	}

	.location>img{
		display: none;
	}

	.location>div{
		background-color: #383838;
	    width: 90vw;
	    height: 7vh;
	    text-align: center;
	    padding-top: 2vh;
	    position: relative;
	    z-index: 1;
	    top: 200vh;
	    top: 23.5vh;
	    left: 1vw;
	    border-radius: 0px!important;
	}


	.location>div>a{
		text-decoration: none;
		padding-right: -1vw;
	}

	.location>div>a>span{
		color: white;
		font-size: 0.8em;
		font-weight: 700;
		display: inline-block;
	}

	.location>div>a>span:first-of-type{
		margin-left: -1vw;
	}

	.location>div>a>span:first-of-type:before{
		content: '';
		display: inline-block;
		background-image: url(../img/sprites-se8687b0ed3.png);
		background-repeat: no-repeat;
	    height: 18px;
	    width: 18px;
	    background-position: 0 -51px;
	    position: relative;
	    top: 0.5vh;
    	right: 24.5vw;
	}

	.location>ul>a{
		text-decoration: none;
	}

	.location>ul>a>li{
		height: 6vh;
		background-color: #ff9f1a;
		width: 12vw;
		line-height: 6vh;
		color: white;
		font-weight: 600;
		position: relative;
		text-align: center;
	}

	.location>ul>a>li:hover{
		background-color: rgba(255,159,26,0.9);
	}

	.location>ul>a>li:last-of-type{
		top: 1.5vh;
		left: 1vw;
		margin-top: 1vh;
		width: 90vw;
	}

	.location>ul>a>li:before{
		content: '';
		display: inline-block;
		background-image: url(../img/sprites-se8687b0ed3.png);
		background-repeat: no-repeat;
	    height: 18px;
	    width: 18px;
	    background-position: 0 -51px;
	    position: relative;
	    top: 0.2vh;
	    right: 26.5vw;
	}

	.other-menu{
		background-color: #f0ede5;
		height: 15vh;
		padding-top: 3vh;
		margin-bottom: 3vh;
	}

	.others{
		height: 12vh;
		padding: 3vh 0;
	}

	.slider{
		width: 45%;
		margin: 0%;
	}

	.slider li{
		width: 100%;
	}

	.slick-prev:before,
	.slick-next:before {
	    content: '';
	}

	.prev{
		margin-right: 16vw;
	}

	.next{
		margin-left: 16vw;
	}


	footer{
		background-color: #031763;
		height: 11vh;
	}

	footer>.row{
		padding: 0 4vw;
		height: 6vh;
	}

	footer>div>ul>.pp>a{
		display: inline-block;
		text-decoration: none;
		width: 25vw;
		height: 4vh;
		color: white;
		font-size: 0.1em;
		padding: 0;
	}
	footer>div>ul>.pp>span{
		display: inline;
		color: white;
		line-height: 4vh;
	}

	footer>div>ul{
		line-height: 6vh;
		height: 2vh;
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
	}

	.pp{
		display: flex;
		height: 4vh;
	}

	footer>.row>p{
		display: inline-block;
		color: white;
		font-size: 0.5em;
		line-height: 3vh;
		margin-top: 5vh;
		height: 3vh;
		width: 100vw;
		padding: 0;
		padding-left: 37vw;
	}

	footer>div>ul>span:nth-of-type(2){
		margin-left: 1vw;
	}

	footer>div>ul>.pp>a>li {
	    font-size: 0.7em;
	    width: 25vw;
	    color: white;
	    margin-left: 0.5vw;
	    height: 4vh;
	    line-height: 4vh;
	}



}