* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.col, .col-1, .col-10,
.col-11, .col-12, .col-2,
.col-3, .col-4, .col-5,
.col-6, .col-7, .col-8,
.col-9, .col-auto, .col-lg,
.col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9,
.col-lg-auto, .col-md,
.col-md-1, .col-md-10,
.col-md-11, .col-md-12,
.col-md-2, .col-md-3,
.col-md-4, .col-md-5,
.col-md-6, .col-md-7,
.col-md-8, .col-md-9,
.col-md-auto, .col-sm,
.col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9,
.col-sm-auto, .col-xl,
.col-xl-1, .col-xl-10,
.col-xl-11, .col-xl-12,
.col-xl-2, .col-xl-3,
.col-xl-4, .col-xl-5,
.col-xl-6, .col-xl-7,
.col-xl-8, .col-xl-9,
.col-xl-auto{
	padding-right: 10px;
    padding-left: 10px;
}

.attention{
	height: 10vh;
	text-align: center;
	border-bottom: solid 0.1em #000;
}

.attention p{
	color: red;
	line-height: 10vh;
}

a{
	text-decoration: underline;
}

header{
	text-align: center;
	padding-top: 2vh;
}

.header-a a{
	font-size: 0.75em;
	padding: 0;
	color: #000;
}

.header-a<div{
	text-align: center;
}

.header-a a:hover{
	text-decoration: none;
}

.header-a:nth-of-type(3){
	padding: 0;
}

.header-a:nth-of-type(2):before,
.header-a:nth-of-type(5):before{
	content: "|";
	color: gainsboro;
}

.header-a:nth-of-type(3):before,
.header-a:nth-of-type(6):before{
	content: "|";
	color: gainsboro;
}

.header-form{
	padding-top: 2vh;
}

.header-form-input{
	width: 18vw;
	height: 4vh;
}

.text{
	border: none;
	line-height: 3vh;
}

.text:focus{
  	outline: none;
}

.submit{
	margin-top: 1vh;
	margin-left: 3vw;
}

.submit:focus{
	outline: none;
}

.letter{
	padding-top: 1vh;
}

.letter>div{
	height: 5vh;
	padding: 0.5vh 5px;
}

.letter>div>p{
	font-size: 0.75em;
}

.letter>div>a{
	font-size: 0.7em;
	color: gray;
	text-decoration: none;
}

.letter>div>a:hover{
	text-decoration: underline;
}

.global-nav{
	background-color: #000055;
	height: 6vh;
	margin-top: 3vh;
	text-align: center;
}

.nav-left{
	margin-right: 5vw;
}

.global-nav a{
	color: white;
	line-height: 6vh;
	text-decoration: none;
	font-size: 1.2em;
}

.global-nav>ul{
	margin-bottom: 0;
}

.global-nav>ul>li{
	list-style: none;
}

.global-nav>ul>li:hover{
	background-color: red;
	height: 6vh;
}

.global-nav>ul>li>a>p{
	margin-bottom: 0;
}

.global-nav>ul>p{
	color: white;
	line-height: 6vh;
	margin-bottom: 0;
}

.tab1,.tab2,.tab3{
	display: none;
	z-index: 100;
	background-color: white;
	margin-top: 0;
	padding-top: 2vh;
}

.tab>dl>dt{
	font-size: 1.6em;
	margin-bottom: 1vh;
}

.tab>dl{
	border-right: solid 1px gainsboro;
	margin-right: 1vh;
	margin-bottom: 0.5vh;
}

.tab>dl:first-of-type{
	border-left: solid 1px white;
}

.tab>dl:last-of-type{
	border-right: solid 1px white;
}

.dt-icon{
	padding: 0 1vw;
}

.tab-bottom{
	background-color: lightsteelblue;
	text-align: left;
	height: 3em;
}

.tab-bottom>a{
	color: #0044CC;
	text-decoration: underline;
	font-size: 1em;
	line-height: 3em;
}

.tab-bottom>a:before{
	background-image: url(../img/sprites-se8687b0ed3.png);
	width: 18px;
	height: 18px;
	background-position: 0 -34px;
	content: "";
	display: inline-block;
	line-height: 3em;
}

.dt-icon:before{
	content: "";
	background-repeat: no-repeat;
	background-image: url(../img/sprites-se8687b0ed3.png);
	margin-right: 1vw;
	width: 38px;
	height: 38px;
}

.go:before{
	background-position: 0 -307px;
}

.find-out:before{
	background-position: 0 -231px;
}

.inquire:before{
	background-position: 0 -763px;
}

.base-info:before{
	background-position: 0 -438px;
}

.initiative:before{
	background-position: 0 -476px;
}

.doctor:before{
	background-position: 0 -345px;
}

.pencil:before{
	background-position: 0 -613px;
}


.tab-dd{
	margin-left: 0vw;
}

.tab-dd>ul>li{
	list-style: none;
	height: 4vh;
	font-size: 0.9em;
}

.tab-dd>ul>li:before{
	line-height: 4vh;
	content: "";
	display: inline-block;
	background-image: url(../img/sprites-se8687b0ed3.png);
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	background-position: 0 -34px;
}

.tab-dd>ul>li>a{
	color: #0044CC;
	text-decoration: underline;
	line-height: 4vh;
}

.tab-dd>ul>li{
	text-align: left;
}

.bg{
	height: 70vh;
	margin-top: 0vh;
	z-index: -10;
	background-position: left;
	background-size: no-repeat;
}

.main{
	width: 100%;
	margin:0 auto;
	padding: 0;
}

.main-container{
	width: 100vw;
	height: 60vh;
	z-index: -10;
	margin-left: 15vw;
}

.top-img{
	z-index: -10;
}

.bg1{
	background-image: url(../img/jp-mv_01_pc_20161011.png);
}

.bg2{
	background-image: url(../img/jp-mv_02_pc_20161011.png);
}

.bg3{
	background-image: url(../img/jp-mv_03_pc_20161011.png);
}

.bg4{
	background-image: url(../img/jp-mv_04_pc_20161011.png);
}

.bg5{
	background-image: url(../img/jp-mv_05_pc_20161011.png);
}

.bg6{
	background-image: url(../img/jp-mv_06_pc_20161011.png);
}

.bg7{
	background-image: url(../img/jp-mv_07_pc_20161011.png);
}