*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

header{
	height: 8vh;
	display: flex;
}

header img{
	height: 8vh;
}

#pulldown{
	display: none;
}

header li{
	list-style: none;
}

nav ul{
	height: 10vh;
	line-height: 40vh;
	position: absolute;
	right: 2%;
}

nav>ul>li>a{
	display: inline-block;
	height: 8vh;
	line-height: 8vh;
	color: white;
}

li a:hover{
	border-bottom: solid 2px white;
	background-color: initial !important;
	color: white;
	background-clip: border-box;
}

video{
	position: absolute;
	right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.top{
	position: relative;
	overflow: hidden;
    width: 100%;
    height: 100vh;
}

video{
	filter: brightness(60%);
}

.title{
	margin-top: 20vh;
	height: 35vh;
    padding-left: 15vw;
    width: 50vw;
}

.title h1{
	color: white;
	font-size: 50px;
    font-weight: 600;
}

.title p{
    color: white;
}

.areyou{
	display: inline-block;
	margin-top: 2vh;
}

.title a{
	color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.out-form{
	display: none;
}

.first{
	margin-top: 3vh;
	font-weight: 600;
}


.form{
	background-color: white;
	width: 30vw;
    height: 6vh;
    padding: 0.8vh 1vw;
}

.post{
	border:none;
	outline: none;
	font-size: 25px;
	width: 16vw;
}

.submit{
	height: 4vh;
	width: 11vw;
	background-color: skyblue;
	border:none;
	border-radius: 5%;
	color: white;
	font-size: 13px;
	font-weight: 600;
}

.play{
	border:solid 3px white;
	color: white;
	width: 7vw;
	height: 5vh;
	margin-top: 26vh;
	margin-right: 4vw;
	border-radius: 5%;
}

.play p{
	line-height: 5vh;
	text-align: center;
	font-size: 20px;
}

.home{
	margin-top: 3vh;
}

.home-title h2{
	font-size: 40px;
	margin-top: 10vh;
	text-align: center;
}

.home img{
	height: 40vh;
	display:inline-block;
	width: 100%;
}

.home p{
	text-align: center;
	font-size: 20px;
	display: inline-block;
	margin-top: 2vh;
	padding: 0 2vh;
	margin-bottom: 10vh;
}


.sec2 img{
	height: 70vh;
	margin-bottom: 2vh;
}

.ex1{
	background-color: #f0f0f0;
	height: 70vh;
	margin-bottom: 2vh;
	width: 57%;
}

.ex1 h3{
	margin-top: 23vh;
	font-size: 50px;
	padding:0 5vw;
}

.ex1 p{
	padding:0 5vw;
	font-size: 20px;
}

.ex1 a{
	font-size: 15px;
}

.ex2{
	width: 57%;
	background-color: #007ea2;
	height: 70vh;
	margin-left: 1%;
}

.ex2 h3{
	margin-top: 25vh;
	font-size: 50px;
	padding-right: :0 5vw;
	color: white;
}

.ex2 p{
	font-size: 20px;
	color: white;
	padding-right: 10vw;
}

.ex2 a{
	font-size: 15px;
	color: white;
}

.ro2{
	background-color: #007ea2;
	height: 30vh;
	margin-top: 10vh;
}

.ro2 h3{
	color: white;
	margin-top: 5vh;
	text-align: left;
	font-size: 35px;
}

.ro2 p{
	color: white;
	font-size: 20px;
}

.ro2 a{
	color: white;
	font-size: 15px;
}

.ro3{
	margin-top: 10vh;
}

.ro3-div{
	background-color: #f0f0f0;
	height: 70vh;
}

.ro3-div p{
	margin-top: 20vh;
	font-size: 25px;
	text-align: justify;
	line-height: 45px;
}

#marta{
	margin-top: 3vh;
	font-size: 15px;
	text-align: left;
	padding-left: 1.5vw;
	font-weight: 600;
	line-height: 2px;
}

#trans{
	margin-top: 1vh;
	font-size: 17px;
	padding-left: 1.5vw;
	text-align: left;
	line-height: 3px;
}

.ro4{
	background-color: #f0f0f0;
	height: 50vh;
	margin-top: 10vh;
}

.ro4 h2{
	margin-top: 8vh;
	font-size: 45px;
}

.ro4 p{
	margin-top:2vh;
	font-size: 15px;
	font-weight: 600;
}

.mm{
	width: 100%;
}

.other{
	margin-top: 5vh;
	border-top: solid 1px #dcdcdc;
	text-align: center;
	padding-top: 3vh;
}

footer{
	background-color: #fafafa;
	width: 100%;
	height: 63vh;
}

footer h5{
	margin-top: 5vh;
	font-size: 13px;
	font-weight: bold;
	padding: 15px;
	margin-bottom: 0;
}

footer a{
	color: #000;
	text-decoration: none;
	margin:1vh 0;
}

.footer-right a{
	margin: 0 3%;
	font-size: 15px;
}

.footer-right a:nth-child(1),
.footer-right a:nth-child(2){
	text-decoration: underline;
}

@media screen and (max-width: 425px){

	.row {
	    margin-right: -20px;
	    margin-left: -15px;
	}

	.navbar-right{
		display: none;
	}

	.navbar-left{
		width: 16%;
	    height: 6vh;
	    margin-left: 5vw;
	}

	#pulldown{
		display: inline-block;
		color: white;
		text-decoration: none;
		margin-left: 9px;
	}

	video{
		display: none;
	}

	.play{
		display: none;
	}

	.top{
		background-image:url(img/top.jpg);
		width: 100%;
		height: 70vh;
		background-position: 80%;
	}

	.top:before{
		content: '';
	    background-color: rgba(0,0,0,0.2);
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}


	.title{
		margin-top: 35vh;
	    height: 20vh;
	    margin-left: -7vw;
	    width: 90%;
	}

	.title h1{
		color: white;
		font-size: 30px;
	    font-weight: 600;
	    padding-right: 10vw;
	    filter: brightness(300%);
	}

	.title a{
		font-size: 18px;
		filter: brightness(300%);
	}

	.in-form{
		display: none;
	}

	.out-form{
		display: block;
	}

	#video{
		position: absolute;
		top: 30%;
    	left: 355%;
	}

	.first{
		margin-top: 6vh;
		font-size: 17px;
		padding: 0 7vw;
	}

	.form{
	    border: solid 1px #eee;
	    width: 86%;
	    margin: 0 7vw;
	    height: 7vh;
	    padding: 0.8vh 1vw;
	}

	.post{
		border: none;
	    outline: none;
	    font-size: 25px;
	    width: 42vw;
	}

	.submit{
		height: 4.5vh;
	    width: 40vw;
	    background-color: #bee0d3;
	}

	.areyou{
		display: inline-block;
		margin-top: 2vh;
		width: 80%;
		margin-left: 5vw;
	}

	.areyou+a{
		display: inline-block;
		width: 80%;
		margin-left: 5vw;
	}

	.home-title h2{
		font-size: 25px;
		margin-top: 4vh;
		padding-top: 5vh;
		border-top: solid 1px #eee;
	}

	.home p{
		font-size: 17px;
		margin-bottom: 5vh;
	}

	.sec2-r{
		display: flex;
		flex-direction: column;
	}

	.sec2 img{
		height: initial;
		margin-bottom: 2vh;
	}

	#img1{
		order:2;
		width: 100%;
		height: 45vh;
	}

	#img2{
		width: 100%;
		margin-top: 2vh;
		height: 50vh;
	}

	#img3{
		width: 100%;
		order: 2;
		height: 40vh;
	}

	.ex1{
		background-color: white;
		height: 40vh;
		margin-bottom: 0;
		width: 100%;
	}

	.ex1 h3{
		border-top: solid 1px #eee;
		margin-top: 3vh;
	    font-size: 23px;
	    padding: 5vh 16vw 0 16vw;
	}

	.ex1 p{
		padding:0 5vw;
		font-size: 14px;
		padding: 0 16vw;
	}

	.ex1 a{
		font-size: 15px;
		display: inline-block;
		padding: 0 16vw;
		width: 92vw;
		color: #007ea2;
	}

	.ex2{
		width: 100%;
		height: 50vh;
	}

	.ex2 h3{
		margin-top: 10vh;
		font-size: 23px;
	    padding: 0vh 16vw;
		color: white;
	}

	.ex2 p{
		font-size: 15px;
		color: white;
	    padding: 0vh 16vw;
	}

	.ex2 a{
		font-size: 16px;
		color: white;
		padding: 0vh 16vw;
	}

	.ex3{
		order:1;
		height: 35vh;
	}

	.ro2{
		background-color: #007ea2;
		height: 70vh;
		margin-top: 3vh;
	}

	.qq{
		width: 60%;
		margin: 0 20%;
	}

	.qq:nth-child(1){
		padding-bottom: 5vh;
		border-bottom: solid 1px white;
	}

	.ro2 h3{
		margin-top: 10vh;
		font-size: 22px;
	}

	#ww{
		margin-top: 5vh;
	}

	.ro2 p{
		font-size: 15px;
	}

	.ro2 a{
		font-size: 17px;
	}

	#quote{
		width: 100%;
		height: 50vh;
		margin-top: -7vh;
	}

	.ro3-div{
		height: 40vh;
		padding: 0 20%;
	}

	.ro3-div p{
		margin-top: 5vh;
		padding-top: 5vh;
		font-size: 13px;
    	line-height: 23px
	}

	#marta{
		margin-top: 1vh;
		font-size: 15px;
		line-height: 1px;
		padding-left: 10%;
		padding-top: 2vh;
	}

	#trans{
		margin-top: 1vh;
		font-size: 15px;
		line-height: 1px;
		padding-left: 10%;
		padding-top: 1vh;
	}

	.ro4{
		height: 50vh;
		margin-top: 2vh;
	}

	.mm h2{
		width: 90%;
		margin: 6vh 0 0 auto;
		font-size: 25px;
		text-align: center;
	}

	.ro4 p{
		margin-top:2vh;
		font-size: 15px;
		font-weight: 600;
		text-align: center;
	}

	.form:nth-child(1){
		margin:0 10vw;
	}

	.other{
		margin-top: 1vh;
	}

	footer{
		width: 100%;
		height: auto;
		margin-top: 5vh;
	}

	footer hr{
		display: inline;
	}

	.foot{
		border-bottom: solid 1px #b4b4b4;
	}

	.last{
		display: flex;
		flex-direction: column;
		margin-top: 3vh;
	}

	.last-1{
		order: 2;
		display: block;
		margin-top: 2vh;
	}

	.last2{
		order:1;
		display: block;
		text-align: left;
	}

	.footer-right a{
		margin: 0 1%;
	}

	i{
		margin: 0;
	}

}